@font-face {
    font-family: "SentyZHAO";
    src: url("../font/SentyZHAO.eot");
    /* IE9 */
    src: url("../font/SentyZHAO.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../font/SentyZHAO.woff") format("woff"), /* chrome, firefox */
    url("../font/SentyZHAO.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("../font/SentyZHAO.svg#SentyZHAO") format("svg");
    font-style: normal;
    font-weight: normal;
}

html {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    background-color: #f32727;
    font-family: 'SentyZHAO';
}

h1 {
    display: none;
    font-weight: normal;
    font-size: 80px;
    text-align: center;
    -webkit-box-reflect: below -20px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.2)));
}

.pDiv {
    margin-top: 50px;
    text-align: center;
    padding: 10%;
    font-size: 20px;
    line-height: 25px;
}

.pDiv p {
    display: none;
    letter-spacing: 2px;
}

#content,
#content2,
#content3 {
    font-family: 'SentyZHAO';
    display: inherit;
}

.paper {
    text-align: justify;
    text-indent: 2em;
}

#content3,
.via {
    text-align: right;
}